/* Opensas */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    ---Text-1: #484f5b;
    ---button: #f3ccc4;
    ---white: white;
    ---gray:#b8b0b0;
    ---gray_suave: #9ca3af;
    ---blue:#444c5c;
}

.red{
    background-color: rebeccapurple;
}
.white_bg{
    background-color: var(---white);
}
.gray_bg{
    background-color: var(---gray);
}
.blue_bg{
    background-color: var(---blue);
}
.rosa_bg{
    background-color: var(---button);
}
/* Flex */
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-space_bentweed{
    justify-content: space-between;
}
.flex-space_evenly{
    justify-content: space-evenly;
}
.flex-space_around{
    justify-content: space-around;
}
.flex-start{
    justify-content: flex-start;
}
.flex-center{
    justify-content: center;
}
.flex-aling_center{
    align-items: center;
}

/* Witdh */
.width{
    width: 100%;
}
.width-90{
    width: 90%;
}
.width-70{
    width: 70%;
}
.width-40{
    width: 40%;
}
.width-30{
    width: 30%;
}

/* Z-index */
.z-index{
    z-index: 1;
}
.z-index--1{
    z-index: -1;
}

/* Imagenes */
.img_Logo{
    background-size: cover;
    width: clamp(30px, 15vw, 110px);
    height: auto;
    font-family: "Open Sans", sans-serif;
}
.image{
    width: clamp(20px, 25vw, 110px);
    height: auto;
}
.image1{
    z-index: -2;
    width: clamp(50px, 40vw, 800px);
}
.image2{
    width: clamp(50px, 40vw, 550px);
}
.image3{
    width: clamp(50px, 50vw, 800px);
}
.image4{
    width: clamp(50px, 50vw, 800px);
}

.image_fondo1{
    width: 100%;
    height: 100%;
    background-image: url(Componentes/Articulo\ 2/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    width: 15vw;
}
.img1-edit{
    left: 40.8vw;
    bottom: 45vh;
}
.img2{
    width: 15vw;
}
.img2-edit{
    top: 12vh;
    right: 37vw;
}
.img3{
    width: 12vw;
}
.img3-edit{
    left: 37vw;
    top: 30vh;
}
.img4{
    width: 13vw;
}
.img4-edit{
    bottom: 28vh;
    right: 45vw;
}
.img5{
    width: 15vw;
}
.img5-edit{
    bottom: 42vh;
    right: 56vw;
}
.img6{
    width: 8vw;
}
.img6-edit{
    top: 1vh;
    right: 55vw;
}
.img7{
    width: 8vw;
}
.img7-edit{
    bottom: 70vh;
    right: 55vw;
}
.img8{
    width: clamp(20px, 23vw, 400px);
    height: auto;
}
.img8-edit{
    bottom: 55vh;
    left: 45vw;
}
.img9{
    width: 14vw;
}
.img9-edit{
    top: 44vh;
    right: 5vw;
}
.img10{
    width: 20vw;
}
.img10-edit{
    top: 26vh;
    right: 18vw;
}
.img11{
    width: 10vw;
}
.img11-edit{
    top: 40vh;
    right: 62vw;
}
.img12{
    width: 60vw;
}
.img12-edit{
    bottom: 35vh;
    right: 22vw;
}
.img13{
    width: 12vw;
}
.img13-edit{
    bottom: 27.6vh;
    left: 37.5vw;
}
.img14{
    width: 10vw;
}
.img14-edit{
    top: 0;
    right: -5vw;
}
.img15{
    width: 20vw;
}
.img15-edit{
    top: 60vh;
    right: 5vw;
}
.img16{
    width: 20vw;
}
.img16-edit{
    top: 0vh;
    right: 82vw;
}
.img17{
    width: 15vw;
}
.img17-edit{
    top: 77.6vh;
    right: 85vw;
}
/* Icon */
.icon{
    width: 2vw;
    color: var(---Text-1);
}
.icon2{
    width: 1vw;
    margin-top: 5px;
    color: var(---Text-1);
}
/* tougle */
.toggle-menu, #toogle-menu{
    display: none;
}
.main-menu{
    list-style: none;
}
/* Articulo */
.article{
    height: 100vh;
}
.article-50{
    height: 50vh;
}
/* List */
.list_None{
    list-style: none;
}
/* Input */
.input1{
    padding-left: 20px;
    width: 100%;
    background-color: var(---gray_suave);
    border: none;
}
.placeholder {
    position: absolute; /* Establece una posición absoluta */
    top: 5px; /* Ajusta la posición vertical */
    left: 5px; /* Ajusta la posición horizontal */
}

/* Gap */
.gap{
    gap: 50px;
}
/* Position */
.absolute{
    position: absolute;
}
.relative{
    position: relative;
} 
.fixed{
    position: fixed;
    z-index: 10;
}
/* Text */
.text{
    font-size: clamp(10px, 2vw, 28px);
    color: var(---Text-1);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text2{
    font-size: clamp(10px, 3vw, 20px);
    color: var(---Text-1);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text-white{
    font-size: clamp(10px, 3vw, 28px);
    color: var(---white);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text-0{
    font-weight: 0;
}
.text2-white{
    font-size: clamp(10px, 2.5vw, 20px);
    color: var(---white);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text2-0{
    font-weight: 0;
}
.text_nav{
    color: var(---Text-1);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
.text_title{
    font-size: clamp(30px, 6vw, 75px);
    letter-spacing: 1px;
    width: auto;
    font-weight: 700;
    color: var(---Text-1);
    font-family: "Open Sans", sans-serif;
    z-index: 1;
}
.text_title2{
    font-size: clamp(30px, 5vw, 50px);
    letter-spacing: 1px;
    font-weight: 700;
    color: var(---Text-1);
    font-family: "Open Sans", sans-serif;
}
.text_h3{
    font-size: clamp(14px, 5vw, 25px);
    font-weight: 700;
    color: var(---Text-1);
    font-family: "Open Sans", sans-serif;
}
.text_center{
    text-align: center;
}
/* Height */
.height-10{
    height: 10vh;
}
.height-30{
    height: 30vh;
}
.height-80{
    height: 80%;
}
.height-auto{
    height: auto;
}
/* Button */
.button{
    padding: 10px 30px;
    background-color: var(---button);
    border: none;
    font-weight: 700;
    font-size: clamp(10px, 3vw, 18px);
}

/* Card */
.card{
    height: auto;
    width: 20vw;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Padding */
.padding{
    padding: 20px 10px;
}
.padding_top{
    padding-top:10px;
}
.padding_botton{
    padding-bottom: 20px;
}
.padding_botton-10{
    padding-bottom: 10vh;
}
.padding_top-10{
    padding-top: 50px;
}
.padding_top-5{
    padding-top: 5vh;
}
/* Margin */
.margin-20{
    margin: 5vh 0vw;
}
/* Grid */
.grid{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
@media (max-width: 890px){
   
    /* toggle */
    
  .toggle-menu{
    display: block;
    width: 50px;
    height: auto;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: inherit;
  }
  .toggle-menu img{
    width: 100%;
  }
  .main-menu{
    list-style: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(---gray);
    transform: translateY(-100%);
    transition: 0.5s ease, transform 0.5s ease;
  }

  .main-menu--show{
    transform: translateY(0);
    
  }
}