/* Opensas */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    ---Text-1: #484f5b;
    ---button: #f3ccc4;
    ---white: white;
    ---gray:#b8b0b0;
    ---gray_suave: #9ca3af;
    ---blue:#444c5c;
}

.red{
    background-color: rebeccapurple;
}
.white_bg{
    background-color: var(---white);
}
.gray_bg{
    background-color: var(---gray);
}
.blue_bg{
    background-color: var(---blue);
}
.rosa_bg{
    background-color: var(---button);
}
/* Flex */
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-space_bentweed{
    justify-content: space-between;
}
.flex-space_evenly{
    justify-content: space-evenly;
}
.flex-space_around{
    justify-content: space-around;
}
.flex-start{
    justify-content: flex-start;
}
.flex-center{
    justify-content: center;
}
.flex-aling_center{
    align-items: center;
}

/* Witdh */
.width{
    width: 100%;
}
.width-90{
    width: 90%;
}
.width-70{
    width: 70%;
}
.width-40{
    width: 40%;
}
.width-30{
    width: 30%;
}

/* Z-index */
.z-index{
    z-index: 1;
}
.z-index--1{
    z-index: -1;
}

/* Imagenes */
.img_Logo{
    background-size: cover;
    width: clamp(30px, 15vw, 110px);
    height: auto;
    font-family: "Open Sans", sans-serif;
}
.image{
    width: clamp(20px, 25vw, 110px);
    height: auto;
}
.image1{
    width: 40vw;
}
.image3{
    width: 50vw
}

.image_fondo1{
    width: 100%;
    height: 100%;
    background-image: url(Componentes/Articulo\ 2/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    width: 15vw;
    top: 10vh;
    right: 0;
}
.img2{
    width: 15vw;
    top: 60vh;
    left: 10vw;
}
.img3{
    width: 12vw;
    bottom: 0;
    right: 0;
}
.img4{
    width: 13vw;
    bottom: 40vh;
    left: 8vw;
}
.img5{
    width: 12vw;
    top: 10vh;
    left: 0;
}
.img6{
    width: 8vw;
    bottom: 0;
    left: 0;
}
.img7{
    width: 12vw;
    top: 0vh;
    left: 0vw;
}
.img8{
    width: 20vw;
    top: 20vh;
    left: 50vw;
}
.img9{
    width: 14vw;
    bottom: 0;
    left: 0;
}
.img10{
    width: 20vw;
    bottom: 3vh;
    right: 7vw;
}

.img11{
    width: 10vw;
    bottom: 10vh;
    left: 35vw;
}

.img12{
    width: 60vw;
    top: 0;
    left: -15vw;
}

.img13{
    width: 12vw;
    top: 0;
    right: 0;
}

.img14{
    width: 10vw;
    top: 0;
    right: 0;
}
.img15{
    width: 20vw;
    bottom: 0;
    right: 0;
}
.img16{
    width: 20vw;
    left: 0;
    top: 0;
}
.img17{
    width: 15vw;
    bottom: 0;
    left: 0;
}
/* Icon */
.icon{
    width:clamp(30px, 3vw, 40px) ;
    color: var(---Text-1);
}
.icon2{
    width: 1.5vw;
    margin-top: 5px;
    color: var(---Text-1);
}
/* tougle */
.toggle-menu, #toogle-menu{
    display: none;
}
.main-menu{
    list-style: none;
}
/* Articulo */
.article{
    height: 100vh;
}
.article-50{
    height: 50vh;
}
/* List */
.list_None{
    list-style: none;
}
/* Input */
.input1{
    padding-left: 20px;
    width: 100%;
    background-color: var(---gray_suave);
    border: none;
}
.placeholder {
    position: absolute; /* Establece una posición absoluta */
    top: 5px; /* Ajusta la posición vertical */
    left: 5px; /* Ajusta la posición horizontal */
}

/* Gap */
.gap{
    gap: 50px;
}
.gap-10{
    gap: 10px;
}
/* Position */
.absolute{
    position: absolute;
}
.relative{
    position: relative;
} 
.fixed{
    position: fixed;
    z-index: 10;
}
/* Text */
.text{
    font-size: clamp(14px, 2vw, 28px);
    color: var(---Text-1);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text2{
    font-size: clamp(14px, 3vw, 20px);
    color: var(---Text-1);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text-white{
    font-size: clamp(14px, 3vw, 28px);
    color: var(---white);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text-0{
    font-weight: 0;
}
.text2-white{
    font-size: clamp(14px, 2.5vw, 20px);
    color: var(---white);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.text2-0{
    font-weight: 0;
}
.text_nav{
    color: var(---Text-1);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
.text_title{
    font-size: clamp(30px, 6vw, 75px);
    letter-spacing: 1px;
    width: auto;
    font-weight: 700;
    color: var(---Text-1);
    font-family: "Open Sans", sans-serif;
    z-index: 1;
}
.text_title2{
    font-size: clamp(30px, 5vw, 50px);
    letter-spacing: 1px;
    font-weight: 700;
    color: var(---Text-1);
    font-family: "Open Sans", sans-serif;
}
.text_h3{
    font-size: clamp(14px, 5vw, 25px);
    font-weight: 700;
    color: var(---Text-1);
    font-family: "Open Sans", sans-serif;
}
.text_center{
    text-align: center;
}
/* Height */
.height-10{
    height: 10vh;
}
.height-30{
    height: 30vh;
}
.height-80{
    height: 80%;
}
.height-auto{
    height: auto;
}
/* Button */
.button{
    padding: 10px 30px;
    background-color: var(---button);
    border: none;
    font-weight: 700;
    font-size: clamp(10px, 3vw, 18px);
}

/* Card */
.card{
    height: auto;
    width: 20vw;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Padding */
.padding{
    padding: 20px 10px;
}
.padding_top{
    padding-top:10px;
}
.padding_botton{
    padding-bottom: 20px;
}
.padding_botton-10{
    padding-bottom: 10vh;
}
.padding_top-10{
    padding-top: 50px;
}
.padding_top-5{
    padding-top: 5vh;
}
/* Margin */
.margin-20{
    margin: 5vh 0vw;
}
@media (max-width: 890px){
    /* toggle */
  .toggle-menu{
    display: block;
    width: 50px;
    height: auto;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: inherit;
  }
  .toggle-menu img{
    width: 100%;
  }
  .main-menu{
    list-style: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(---gray);
    transform: translateY(-100%);
    transition: 0.5s ease, transform 0.5s ease;
  }

  .main-menu--show{
    transform: translateY(0);
    
  }
  .icon{
    width: 5vw;
    padding-left: 5px;
  }
  .icon2{
    width: 3vw;
    padding-left: 5px;
  }
}
@media (max-width: 750px){
    /* Articulo 1 */
    .flex-repon{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-repon2{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .flex-repon3{
        flex-direction: row;
        gap: 10px;
    }
    .flex-repon_center{
        justify-content: center;
        display: flex;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .gap{
        gap: 20px;
    }
    .img4{
        top: 15vh;
        left: 40vw;
    }
    .img2{
        top: 35vh;
        left: 30vw;
    }
    .img8{
        top: 2vh;
        left: 35vw;
    }
    .width-40{
        width: 90%;
    }
    .article-50{
        height: auto;
        margin: 10px 0px;
    }
    .width-40{
        justify-content: center;
        align-items: center;
    }
    .text_title, .text{
        text-align: center;
    }
    .height-80{
        margin: 20px;
        gap: 20px;
        justify-content: center;
    }
    .padding_top-10{
        padding: 0;
    }
    .padding_top-10_repon{
        padding-top: 10vh;
    }
    .padding_top-5_repon{
        padding-top: 5vh;
    }
    .article{
        height: auto;
    }
    .img6{
        bottom: 0vh;
        left: 90vw;
    }
    .card{
        width: 80%;
        height: 50%;
        gap: 0;
    }
    .padding_repon{
        padding: 2vh 0px;
    }
    .padding{
        padding: 2px 5px;
    }
    .img-card{
        height: 30vh;
        object-fit:cover;
        padding: 5px;
    }
    .height-10{
        height: 4vh;
    }
    .height-10-repon{
        height: 10vh;
    }
    .height-30{
        height: 8vh;
    }
    .article-50{
        height: auto;
        margin: 0;
    }
    .margin-20{
        margin: 10px;
    }
}
@media (max-width: 500px){
    .img2{
        top: 25vh;
    }
    .img4{
        top: 12vh;
    }
}